/*Estilo General*/
body{
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 239, 239);
  font-size: large;
}

#barra{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 2, 100);
  }

  li {
    float: left;
    margin: 10px;
  }
    
  li a {
    font-size: x-large;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  li a:hover {
    background-color: rgb(0, 2, 121);
  }


/*ESTILO DE LA PÁGINA DE INICIO*/
#fotogrande{
  height: 50%;
  width: 100%;
}

#ofertas{
  margin-top: 50px;
}

#primerarticulo{
  height: 350px;
  width: 60%;
  padding: 20px;
  float: right;
  color: rgb(0, 2, 100);
}

#promo{
  margin-left: 20px;
  width: 33%;
  height: 400px;
  float: left;
  border: rgb(0, 2, 100) 3px solid;
}

#descuento{
  font-size: x-large;
  font-weight: bold;
  text-decoration-line: underline;
  color: #fbac5c;
}


  