/*ESTILO DE LA PÁGINA QUIENES SOMOS Y NOTICIAS*/
#logo{
    margin-bottom: 3px;
  }

  #fotopersonas{
    height: 15em;
    width: 100%;
  }

  .cajartprin{
    width: 60%;
    padding: 10px;
    border: 5px;
    margin: 0px;
    display: inline-block;
    background-color: white;
  }

  .cajartprin2{
    float: right;
    width: 33%;
    height: 740px;
    padding: 10px;
    margin-left: 15px;
    background-color: white;
    overflow: scroll;
  }

  .tdderecha{
    padding-left: 20px;
  }

  .calibrijustificado, #nuestrahistoria, #noticias{
    color: rgb(0, 2, 100);
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #imagenarticulo{
    height: 200px;
    width: 200px;
  }

  .listaiconos li{
    list-style-type: none;
    display: inline-block;
    width: 33%;
    margin-top: 15px;
    text-align: center;
    color: rgb(0, 2, 100);
  }
  .hrverticalazul{
    height: 20px; 
    width: 5px; 
    background-color: rgb(0, 2, 100);
    display: inline-block;
    margin-top: 15px;
    position: absolute;
  }
  .degradado{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#629bc9+0,000264+94,000264+99,000264+100,000264+100 */
      background: #629bc9; /* Old browsers */
      background: -moz-linear-gradient(top,  hsla(207,49%,59%,1) 0%, hsla(239,100%,20%,1) 94%, hsla(239,100%,20%,1) 99%, hsla(239,100%,20%,1) 100%, hsla(239,100%,20%,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  hsla(207,49%,59%,1) 0%,hsla(239,100%,20%,1) 94%,hsla(239,100%,20%,1) 99%,hsla(239,100%,20%,1) 100%,hsla(239,100%,20%,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  hsla(207,49%,59%,1) 0%,hsla(239,100%,20%,1) 94%,hsla(239,100%,20%,1) 99%,hsla(239,100%,20%,1) 100%,hsla(239,100%,20%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#629bc9', endColorstr='#000264',GradientType=0 ); /* IE6-9 */
      width: 94%;
      position: absolute;
      border-right: rgb(0, 2, 100);
      margin-top: 5px;
    }
 
    #imagenfooter{
    height: 6%;
    width: 6%;
    padding-left: 2px;
    padding-top: 2px;
    display: inline-block;
  }  

  #derechosreservados{
    font-size: 10pt;
    color: gray;

  }

  h4{
    text-align: center;
    color: rgb(0, 2, 100);
  }
.centrarimagen{
    display:block;
    margin:auto;
}
#imagenavion{
  height: 75%; 
  width: 75%;
}
/*ESTILO DE LA PÁGINA NOTICIAS*/

.articulo1{
    position: relative;
    height: 100%;
    width: 62.5%;
    background-color: rgb(217, 233, 243);
}
.articulo1 img{
    margin-left: 50px;
    width: 85%;
    height: 400px;
}
.articulo1 h3{
    text-indent: 50px;
    color: rgb(0, 2, 100);
}
.articulo1 p{
    text-align: justify;
    color: rgb(0, 2, 100);
    padding-right: 7%;
    padding-left: 7%;
}
.articulo2{
    position: absolute;
    left: 67%;
    height: 38%;
    width: 28%;
    background-color: rgb(217, 233, 243);
} 
.articulo2 img{
    margin-left: 5%;
    width: 85%;
    height: 45%;
}
.articulo3{
  position: absolute;
  left: 67%;
  top:150%;
  height: 16em;
  width: 28%;
  background-color: rgb(217, 233, 243);
} 
.articulo2 h3, .articulo3 h3{
    text-indent: 10px;
    color: rgb(0, 2, 100);
    padding-left: 5%;
}
.articulo2 p, .articulo3 p{
    text-align: justify;
    color: rgb(0, 2, 100);
    margin-top: 1px;
    padding-right: 7%;
    padding-left: 7%;
    font-size: small;
}
.articulo3 img{ 
    float: left;
    margin-left: 5%;
    width: 50%;
    height: 50%;
}
#hrpequeño{
    position: absolute;
    left: 68%;
    top: 147%;
    width:26%;
    margin-top: 2px; 
}
.primeracaja{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(217, 233, 243);
    padding: 5px;
    margin-top: 5px;
    padding: 1%;
}
.segundacaja{
    position: absolute;
    width: 80%;
    height: 20px;
    padding-left: 5px;
    padding-top: 50px;
    left: 125px;
    background-color: rgb(217, 233, 243);
    text-align: justify;
  }
.terceracaja{
    position: absolute;
    width: 15%;
    height: 15px;
    top: 75%;
    left: 80%;
    background-color: rgb(217, 233, 243);
    text-align:end;
    font-size: small;
  }
  .segundacaja h4{
    color: rgb(0, 2, 100);
    text-indent: 5px;
    text-align: justify;
    transform: translateY(-150%);
  }

  .primeracaja img{
    height: 100px; 
    width: 100px;
  }
