/*Estilo General*/
body{
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 239, 239);
    font-size: large;
  }
  
  /*Estilo de la barra de navegación*/
    
  header{
    width: 100%;
  }
  
  .menu{
    background-color: rgb(0, 2, 100);
  }

  .navegacion{
    width: 100%;
    margin: 30px auto;
    background: #fff;
  }
  
  .navegacion ul{
    list-style: none;
  }
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    font-size: 115%;
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #99e7ff;
  }
  
  /*Submenu creado para la barra de navegación*/
  
  .submenu{
    position: absolute;
    background: rgb(0, 2, 100);
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    font-size: 115%;
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }


    /*ESTILO DE LA PÁGINA DE LOCALIZACIÓN*/
#primerarticulolocalizacion{
    height: 350px;
    width: 40%;
    padding: 20px;
    color: rgb(0, 2, 100);
  }

  #mapa{
    margin-left: 100px;
  }

  #colocarmapa{
    margin-top: 30px;
    width: 60%;
    height:450px;
  }

  .iconoslocalizacion{
    width: 7%;
    height: 19%;
  }
  
  .degradado{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#629bc9+0,000264+94,000264+99,000264+100,000264+100 */
    background: #629bc9; /* Old browsers */
    background: -moz-linear-gradient(top,  hsla(207,49%,59%,1) 0%, hsla(239,100%,20%,1) 94%, hsla(239,100%,20%,1) 99%, hsla(239,100%,20%,1) 100%, hsla(239,100%,20%,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  hsla(207,49%,59%,1) 0%,hsla(239,100%,20%,1) 94%,hsla(239,100%,20%,1) 99%,hsla(239,100%,20%,1) 100%,hsla(239,100%,20%,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  hsla(207,49%,59%,1) 0%,hsla(239,100%,20%,1) 94%,hsla(239,100%,20%,1) 99%,hsla(239,100%,20%,1) 100%,hsla(239,100%,20%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#629bc9', endColorstr='#000264',GradientType=0 ); /* IE6-9 */
    margin-top: 5px;
    width: 100%;
    clear: both;
    border-right: rgb(0, 2, 100);
    }
  
  #imagenfooter{
  height: 6%;
  width: 6%;
  padding-left: 2px;
  padding-top: 2px;
  display: inline-block;
  
  <<<<<<< HEAD
  }  
  
  #derechosreservados{
  font-size: 10pt;
  color: gray;
  }
      /*MONITORES DE MÁS DE 1300PX*/

      @media screen and (min-width: 1300px){
        body{
          background-color: aliceblue;
          margin-top: 20px;
        }

        #primerarticulolocalizacion{
          float: left;
        }

        #colocarmapa{
          float: right;
          margin-bottom: 60px;
        }
      }

        /*MONITORES CON ANCHO entre 900px y 1300px*/

          @media screen and (min-width: 900px) and (max-width:1300px){
            body{
              background-color: aliceblue;
            }

            #primerarticulolocalizacion{
              float: left;
              margin-bottom: 30px;
            }

            #colocarmapa{
              float: right;
              width: 50%;
              margin-bottom: 60px;
            }

            .degradado{
              margin-top: 100px;
            }
          }
        
        
        /*REDIMENSIÓN PARA IPAD*/
        @media screen and (min-width: 700px) and (max-width:900px){
          body{
            background-color: aliceblue;
          }

          #logo{
            width: 50%;
          }

          #primerarticulolocalizacion{
            margin-left: -20px;
            text-align: center;
            float: none;
            padding: 20px;
            color: rgb(0, 2, 100);
            width: 100%;
            height: 100%;
          }

          #colocarmapa{
            width: 100%;
            margin-left: -45px;
          }

          .degradado{
            margin-left: 0px;
          }
        }

        /*REDIMENSIÓN PARA IPHONE*/
        @media screen and (min-width:100px) and (max-width:700PX){
          body{
            background-color: aliceblue;
          }

          #logo{
            width: 70%;
          }

          #primerarticulolocalizacion{
            margin-left: -20px;
            text-align: center;
            float: none;
            padding: 20px;
            color: rgb(0, 2, 100);
            width: 100%;
            height: 100%;
          }

          #colocarmapa{
            width: 100%;
            margin-left: -45px;
          }

          .degradado{
            margin-left: 0px;
          }
        }