body{
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 239, 239);
}


#barra{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 2, 100);
  }

#ofertas{
  margin-top: 50px;
  height: 90%;
  width: 90%;
}

#primerarticulo{
  padding: 20px;
  float: left;
  background-color: rgb(0, 2, 100);
  color: aliceblue;
}

#promo{
  margin-right: 20px;
  width: 25%;
  height: 25%;
  float: right;
  border: rgb(0, 2, 100) 3px solid;
}


li {
  float: left;
  margin: 10px;
}
  
li a {
  font-size: x-large;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover {
  background-color: rgb(0, 2, 121);
}
  