/*1.- MONITORES DE MÁS DE 1300PX variable pagina Quienes somos

Para mas de 1300 px lo voy a dejar a dejar igual porque la pagina ha sido diseñada para tamaños
de pantalla grande.*/



   /*2.- MONITORES ENTRE 900PX, 1100PX y 1300PX DE ANCHO FIJO PAGINA QUIENES SOMOS*/
   @media screen and (min-width:900px) and (max-width:1100px) and (max-width:1300px){
    .listaiconos li{
      width: 262px;
      margin-right: 1px;
      font-size: 90%;
    }
     .hrverticalazul{
      display: none;
    }
    .cajartprin{
      width: 500px;
    }
    .cajartprin2{
      width: 375px;
      position: absolute;
      left: 600px;
      top: 720px;
      height: 810px;
    }
  }
/*2.1 - MONITORES ENTRE 900PX Y 1300PX DE ANCHO FIJO PAGINA NOTICIAS*/
@media screen and (min-width:900px) and (max-width:1300px){
  .menu{
    width: 1125px;
  }

  #fotopersonas{
    width: 1165px;
  }
  .articulo1{
    width: 760px;
  }
  .articulo2, .articulo3{
    left: 850px;
    width: 360px;
  } 
  #hrpequeño{
    left: 870px 
  }
  .primeracaja{
    width: 1150px;
}
.terceracaja{
     width: 175px;
  }
  .segundacaja h4{
    color: rgb(0, 2, 100);
    text-indent: 5px;
    text-align: justify;
    transform: translateY(-150%);
  }
}

   /*3.- MONITORES ENTRE 768PX Y 900PX DE ANCHO*/

  @media screen and (min-width:768px) and (max-width:900px){
    body{
      margin: 5%;
    }
    .cajartprin{
      width: 100%;
    }
    #imagenarticulo{
      height: 75%;
      width: 90%;
    }
    .tdderecha{
      padding-left: 5%;
    }
    .cajartprin2{
      width: 100%;
      height: 100%;
      margin-left:0%;
      margin-top: 10px;
      overflow: visible;
      float: none;
    }
    #imagenarticulo{
      height: 75%;
      width: 120%;
    }
    #imagenavion{
      height: 165px; 
      width: 280px;
    }
    .listaiconos li{
      width:0%;
      margin-left: 20%;
      font-size: 90%;
    }
    .hrverticalazul{
      display: none;
    }
    #noticias{
        text-align: center;
    }
  }
    /*.articulo1{
        display: block;
        position: relative;
        height: 100%;
        width: 90%;
        left:5%;
        background-color: rgb(217, 233, 243);
    }
    .articulo2{
        position: relative;
        left: 5%;
        margin-top: 2%;
        width: 45%;
    }
    .articulo3{
        position: relative;
        display: inline-block;
        width: 35%; 
        height: 15em;   
    }
    #hrpequeño{
     height: 15em;
     width: auto;
     left: 52%;
     top:173%;
    }*/
    
   /*4.- Ipad 768*1024 orientacion vertical*/

   @media screen and (max-width:768px) and (orientation: portrait) {
    body{
      margin: 2%;
    }
    .fila {
      margin: 2%;
      float: none;
    }
    .fila a {
      font-size: 85%;
      display: block;
    }
    #fotopersonas{
        display: none;
    }
    .cajartprin{
      width: 95%;
    }
    #imagenarticulo{
      height: 75%;
      width: 90%;
    }
    .tdderecha{
      padding-left: 5%;
    }
    .cajartprin2{
      width: 95%;
      height: 100%;
      margin-left:0%;
      margin-top: 10px;
      overflow: visible;
      float: none;
    }
    #imagenarticulo{
      height: 75%;
      width: 120%;
    }
    #imagenavion{
      height: 165px; 
      width: 280px;
    }
    .listaiconos li{
        width:0%;
        margin-left: 25%;
        transform: translateX(-50px);
        font-size: 90%;
      }
    .hrverticalazul{
      display: none;
    }
    #noticias{
        text-align: center;
    }
  }
    /*.articulo1{
        display: block;
        position: relative;
        height: 100%;
        width: 90%;
        left:5%;
        background-color: rgb(217, 233, 243);
    }
    .articulo2{
        position: relative;
        left: 5%;
        margin-top: 2%;
        width: 45%;
    }
    .articulo3{
        position: absolute;
        display: inline-block;
        left: 55%;
        top:173%;
        width: 35%; 
        height: 15em;   
    }
    #hrpequeño{
     height: 15em;
     width: auto;
     left: 52%;
     top:173%;
    }
    .articulo2 img, .articulo3 img{
        display: none;
    }
    .primeracaja{
        position: relative;
        display: inline-block;
        width: 100%;
        height: 20%;
        background-color: rgb(217, 233, 243);
        border: 5px;
        margin-top: 5px;
        padding: 1%;
    }
    .segundacaja{
        position: absolute;
        display: inline-block;
        width: 80%;
        height: 20px;
        padding-left: 5px;
        padding-top: 50px;
        left: 125px;
        background-color: rgb(217, 233, 243);
        text-align: justify;
      }
    .terceracaja{
        display: none;
      }*/
     /*5.- Ipad 768*1024 orientacion horizontal*/

     @media screen and (max-width:768px) and (orientation: landscape) {
        body{
          margin: 2%;
        }
        .fila {
          margin: 0px;
        }
        .fila a {
          font-size: 75%;
          padding: 10px 8px;
        }
        .cajartprin{
          width: 95%;
        }
        #imagenarticulo{
          height: 75%;
          width: 90%;
        }
        .tdderecha{
          padding-left: 5%;
        }
        .cajartprin2{
          width: 95%;
          height: 100%;
          margin-left:0%;
          margin-top: 10px;
          overflow: visible;
          float: none;
        }
        #imagenarticulo{
          height: 75%;
          width: 120%;
        }
        #imagenavion{
          height: 165px; 
          width: 280px;
        }
        .listaiconos li{
            width:0%;
            margin-left: 25%;
            transform: translateX(-50px);
            font-size: 90%;
          }
        .hrverticalazul{
          display: none;
        }
        #noticias{
            text-align: center;
        }
      }
       /* .articulo1{
            display: block;
            position: relative;
            height: 100%;
            width: 90%;
            left:5%;
            background-color: rgb(217, 233, 243);
        }
        .articulo2{
            position: relative;
            left: 5%;
            margin-top: 2%;
            width: 45%;
        }
        .articulo3{
            position: absolute;
            display: inline-block;
            left: 55%;
            top:173%;
            width: 35%; 
            height: 15em;   
        }
        #hrpequeño{
         height: 15em;
         width: auto;
         left: 52%;
         top:173%;
        }
        .primeracaja{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 20%;
            background-color: rgb(217, 233, 243);
            border: 5px;
            margin-top: 5px;
            padding: 1%;
        }
        .segundacaja{
            position: absolute;
            display: inline-block;
            width: 80%;
            height: 20px;
            padding-left: 5px;
            padding-top: 50px;
            left: 125px;
            background-color: rgb(217, 233, 243);
            text-align: justify;
          }
        .terceracaja{
            display: none;
          }
      }*/

       /*6.- Iphone 414*896 orientacion vertical*/

   @media screen and (max-width:414px) and (orientation:portrait) {
    body{
        margin:2%;
      }
      .fila {
        margin: 0%;
        float: none;
      }
      .fila a {
        font-size: 85%;
        display: block;
      }
      #fotopersonas{
          display: none;
      }
      .cajartprin{
        width: 90%;
        margin-left: 2%;
        margin-right: 2%;
      }
      #imagenarticulo{
        height: 75%;
        width: 90%;
      }
      .tdderecha{
        padding-left: 5%;
      }
      .cajartprin2{
        width: 90%;
        height: 100%;
        margin-left:2%;
        margin-right: 2%;
        margin-top: 10px;
        overflow: visible;
        float: none;
      }
      #imagenarticulo{
        height: 75%;
        width: 100%;
      }
      #imagenavion{
        height: 135px; 
        width: 240px;
      }
      .listaiconos li{
         display: none;
        }
      .hrverticalazul{
        display: none;
      }
    }
     /* 7.- Iphone 414*896 orientacion horizontal*/

     @media screen and (max-width:414px) and (orientation: landscape) {
        body{
          margin: 2%;
        }
        .fila {
          margin: 0px;
        }
        .fila a {
          font-size: 75%;
          padding: 10px 8px;
        }
        .cajartprin{
          width: 95%;
        }
        #imagenarticulo{
          height: 75%;
          width: 90%;
        }
        .tdderecha{
          padding-left: 5%;
        }
        .cajartprin2{
          width: 95%;
          height: 100%;
          margin-left:0%;
          margin-top: 10px;
          overflow: visible;
          float: none;
        }
        #imagenarticulo{
          height: 75%;
          width: 120%;
        }
        #imagenavion{
          height: 165px; 
          width: 280px;
        }
        .listaiconos li{
            width:0%;
            margin-left: 25%;
            transform: translateX(-50px);
            font-size: 90%;
          }
        .hrverticalazul{
          display: none;
        }
      }
